<nav class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="/">ALE</a></h1>
        </li>
    </ul>
    <section class="top-bar-section">
        <ul class="left">
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a>File</a>
                <ul class="dropdown">
                    <li><a ng-click="SaveGame()">Save Game</a></li>
                </ul>
            </li>
            <li class="divider"></li>
            <li class="has-dropdown not-click">
                <a>Settings</a>
                <ul class="dropdown">
                    <li><a>Editor Settings...</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
    </section>
</nav>
