.editor {
    width: 67%;
    left: 13%;
    top: 45px;
    bottom: 20%;
    background: white;
    overflow: scroll;
    .map {
        position: absolute;
        top: 0;
        left: 0;
        background: $grey;
        width: 100%;
        height: 100%;
    }
}
